.backgroundImg{
    height: 50vh;
    display: flex;
    align-items: center;
}

.head-banner{
    width: 100vw;
    height: 50vh;
}

.slider-container{
    display: flex;
    flex-direction: column;
}
.slick-next{
    position: absolute;
    left: 1rem;
    opacity: 0;
}
.slick-prev{
    position: absolute;
    opacity: 0;
}

.side-containt{
    
    margin-left: 5rem;
}

.side-containt p{
    font-size: 18px;
    font-weight: 500;
}
.side-containt h1{
    font-size: 60px;
    font-weight: bold;
}

.side-containt .btn{
    width: 10rem!important;
    font-weight: bold;
    border: 2px solid red;
    border-radius: 0px;
    margin-top: 1rem;
    /* height: 3rem!important; */
    padding: .7rem;
}